* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}

h1 {
  padding: 1rem 1rem;
  font-style: italic;
  color: #4b5563;
}

.numberInput {
  margin-right: 1rem;
  height: 40px;
  border-bottom-right-radius: 1rem;
  text-align: center;
  width: 7rem;
  font-weight: bold;
  font-size: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.inputBtn {
  margin: 2rem 2rem;
  height: 50px;
  width: 200px;
  background-color: #93C5FD;
  border-radius: 1rem; 
  font-size: large;
  opacity: 0.75;
}
